@import "tailwindcss";


:root {
  --foreground: #ffffff;
  --background: #1d2125;
  --secondary: #282e33;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d2125;
    --foreground: #ededed;
    --secondary: #282e33;
  }
}

html,
body {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none
}

.h1 {
  font-family: var(--font-roboto);
}

.live-wins {
  animation: iskrol 20s infinite linear;
}

@keyframes iskrol {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}